body {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", serif;
  position: relative;
}

#main {
  width: 100%;
  height: 600px;
  min-height: 100vh;
}

header,
footer,
section,
nav {
  border-color: #9a58e6}

section {
  background-color: plum;
}

footer,
nav {
  background-color: plum;
}

h1 {
  display: inline;
}

ul {
  display: inline;
}
ul li {
  list-style-type: none;
}

article {
  background-color: rgb(141, 78, 141);
  border-radius: 5px;
  text-align: center;
}
article button {
  text-decoration: none;
  color: #9a58e6;
  border-radius: 3px;
  background-color: white;
  padding: 3px;
}

.redes {
  font-size: medium;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

nav {
  font-size: large;
  font-weight: 500;
}

header {
  padding: 30px;
  background-color: rgb(141, 78, 141);
}

nav ul a {
  padding: 10px;
}

nav ul {
  margin-left: -20px;
}

img {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  border-radius: 25%;
}

section {
  padding: 20px;
}

.item {
  background-color: rgb(141, 78, 141);
  color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 5%;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

section {
  grid-area: section;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  grid-area: header;
}

#ulNav {
  display: grid;
  grid-area: nav;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
}

section {
  display: grid;
  grid-area: section;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
}

footer {
  grid-area: footer;
}

#main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% auto 15%;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
  grid-template-areas: "header" "nav" "section" "footer";
}

.botonComprar {
  width: 10em;
  height: 5ex;
  background-color: plum ;
  border: 2px solid rgb(167, 4, 58);
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.botonComprar:hover {
  background-color: rgb(184, 34, 221);
}

.foto {
  filter: grayscale(100%);
  transition: all 2s;
}

.foto:hover {
  filter: grayscale(0);
  transform: scale(1.5);
}

.fotoCont {
  overflow: hidden;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.titulo:hover{
  background-color: rgba(221, 160, 221, 0.452);
  transition: 0.5s;
}

/* Area style de page.html-sociales-------------------done----------------------------------------*/
.pageSociales{
  display: flex;
  height: 700px;
  background-color: plum;
}

/* Area style de user.html-usuario------------------------------------------------------------*/
h2{
  background-color: plum;
}
/**--------------------------------------------------------------------------------------*/
.leyenda_pagos{
  font-size: larger;

}
/* -------------------------------------------------------------------------------------*/
@media screen and (min-width: 375px) {
  #main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% 10% auto 15%;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: "header" "nav" "section" "footer";
  }
  aside,
#ulNav,
#inputheader {
    display: none;
  }
  section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 15px;
  }
}
@media screen and (min-width: 1200px) {
  #main {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 15% 10% auto 15%;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: "header header" "nav nav" "aside section" "footer footer";
  }
  section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 15px;
  }
  aside,
#ulNav,
#inputheader {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */